#descricao {
    width: 100%;
}

#valor {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38.5px;
    border-radius: 4px;
    padding: 0 6px;
    background-color: var(--white);
    border: none;
    width: 96.2%;
}

#valor:focus {
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
}

#data {
    padding: 0px 5px;
    width: 97%;
}

input {
    margin-top: 10px;
}

#tipo {
    width: 100%;
}

#categoria {
    width: 100%;
}

@media (min-width: 445px) {
    #tipo {
        width: 70%;
    }

    #data {
        width: 70%;
    }

    #valor {
        width: 92%;
    }

    #div-valor {
        max-width: 40%;
    }
}